.about {
	
	h2 {
		display: inline;
		margin-right: 15px;
		cursor: pointer;
		transition: border .1s;
		
		@include query(1024px) {
			margin-right: 30px;			
		} 		 
	}
}

.selected-display {
	border-bottom: solid 4px $color-contrast;
	color: $color-contrast;
}

.display-about_text	{
	height: 325px;

	@include query(1024px) {
		float: left;
		height: initial;
		padding-right: 30px;
		width: 50%;
	} 	
}

.display-about_photo	{
	display: none;

	@include query(1024px) {
		display: inline-block;
		width: 50%;
		
		img {
			width: 100%;
		}
	} 	
}

.display-mobile {
	
	@include query(1024px) {
		display: none;
	}
}