.about {
	margin-bottom: 120px;
	
	h2 {
		display: inline;
		margin-right: 30px;
		cursor: pointer;
		transition: border .1s; 
	}
}

.selected-display {
	border-bottom: solid 4px $color-contrast;
	color: $color-contrast;
}

.diplay-about_text	{
	width: 50%;
	padding-right: 30px;
	float: left;
}

.diplay-about_photo	{

	display: inline-block;
	width: 50%;
	
	img {
		transition: display 1s; 
		width: 100%;
	}
}

