.contact-bgi {
	background-image: url(../img/contact-bgi.jpg);
	background-size: cover;
	repeat: none;
}

.menu-contact {
	position: relative;	
}

.contact {
	margin-bottom: 200px;

	h1 {
		color: #fff;
		border-color: #fff;
	}
}
	
.contact-wrapper{


  @include query(1030px) {
    display: flex;
	justify-content: space-between;
  } 

}


.contact-form {	
	width: 100%;
	
	form {
		width: 100%;
	}

	@include query(1030px) {
	width: 48%;
  	} 
}

.contact-more-info {
	@include micro-clearfix;
	width: 100%;
	margin-top: 20px;

	@include query(1030px) {
		margin-top: 0;
		width: 48%;
  	} 
}

.tesoros {
	background-color: rgba(255, 255, 255, .5);
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 40px;
}

.tesoros-info {

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 40px;
	}
}

.tesoros-logo {

	img {
		display: none;
		
		@include query(1025px) {
			display: inline;
			padding-left: 20px;
		} 
	}
}

.gps {

	iframe {
		height: 50%;
		width: 100%;
	}
}