.gallery-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 2%;

	div {
		background-color: #333;
		overflow: hidden;
	}
	
	img {
		width: 100%;
	}
}

.height-img_base {
	height: 190px;	
}

.height-img_large {
	height: 100%;	
}

.wide-img_3-4 {
	width: 74%;
}

.wide-img_1-4 {
	width: 24%;
}

.wide-img_2-4 {
	width: 49%;
}