.gallery-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 2%;

	div {
		background-color: #333;
		overflow: hidden;
	}
	
	img {
		width: 100%;
	}
}

.height-img_base {
	height: 179px;	
}

.height-img_large {
	height: 100%;
}

.wide-img_3-4 {
	display: none;
	margin-bottom: 10px;
	width: 74%;

	@include query(1024px) {
		display: initial;
	}
}

.wide-img_1-4 {
	width: 100%;
	margin-bottom: 10px;

	@include query(1024px) {
		width: 24%;
	}	
}

.wide-img_2-4 {
	margin-bottom: 10px;
	width: 49%;
	
}

.gallery {

	figure {
		margin: 0;
		position: relative;
		opacity: 0;
		transform: translateX(30px);
		transition: all 0.4s ease-in-out;
		overflow: hidden;
	}

	.is-showing {
		opacity: 1;
		transform: translateX(0px);
	}

	img {
		display: block;
		transform: scale(1);
		transition: all 0.3s ease-in-out;

		&:hover {
		  	transform: scale(1.1);
		}
	}
}