.menu {
	font-family: $font-family-contrast;
	padding: 30px;
	position: absolute;
	right: 0;	
	text-align: right;	
	
	a {
		border: none;
		color: #fff;
		font-size: 18px;
		margin-left: 30px;
		
		&:hover {
			border-bottom: 2px solid #fff;
		}
	}
}

.language {
	display: block;
	padding-bottom: 20px;
	font-family: $font-family-base;

	
	a {
		margin-left: 0;		
		&:hover {
			border-bottom: 1px solid #fff;
		}

	}
}

