.menu {
	font-family: $font-family-contrast;
	padding: 10px 30px 20px 30px;
	position: absolute;
	right: 0;	
	text-align: right;	
	z-index: 9;
	
	a {
		border: none;
		color: #fff;
		font-size: 25px;
		margin-left: 30px;
		transition: border .2s;
		
		&:hover {
			border-bottom: 2px solid #fff;
		}

		@include query(1500px) {
			font-size: 190%;
		}
	}
}

.language {
	display: block;
	font-size: 18x;
	padding-bottom: 10px;
	font-family: $font-family-base;

	
	a {
		margin-left: 0;		
		&:hover {
			border-bottom: 1px solid #fff;
		}

	}
}

