//fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-contrast: 'Playfair Display', serif;

//colores
$color-base: #6a3c2c;
$color-contrast: #d36253;
$color-accent: #9c764b;
$color-gray: #f1f1ef;

// Inside components
//$space-base: 1rem;
//$space-small:;
//$space-medium:;
//$space-large:;
//$space-x-large:;
//$space-xx-large:;
//$space-xxx-large:;

// Between components
//$space-out-small:;
//$space-out-medium:;
//$space-out-large:;
//$space-x-out-large:;
//$space-xx-out-large:;
//$space-xxx-out-large:;
