//fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-contrast: 'Playfair Display', serif;

//colores
$color-base: #6a3c2c;
$color-contrast: #d36253;
$color-accent: #9c764b;
$color-gray: #f1f1ef;
