// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  border-left: 7px solid $color-base;
  font-size: 48px;
  padding-left: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  color: $color-base;
  font-family: $font-family-contrast;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
    color: inherit;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

