*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 1rem/1.5 "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

figure {
  margin: 1em 40px;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

textarea {
  resize: none;
}

form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  height: 30px;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #000;
  display: block;
  font-size: 16px;
  margin: 20px 0 20px 0;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  input,
  textarea {
    width: 80%;
  }
}

label,
button {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
}

button {
  background-color: #d36253;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 100%;
}

button:hover {
  background-color: #6a3c2c;
}

@media only screen and (min-width: 650px) {
  button {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  button {
    width: 30%;
  }
}

h1 {
  border-left: 7px solid #6a3c2c;
  font-size: 48px;
  padding-left: 10px;
}

h2 {
  font-size: 24px;
}

@media only screen and (min-width: 960px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 16px;
}

@media only screen and (min-width: 960px) {
  h3 {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4 {
  color: #6a3c2c;
  font-family: "Playfair Display", serif;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

img,
figure {
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  border-bottom: 1px solid #d36253;
  color: #d36253;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
}

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: white;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

video {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

th,
td {
  padding: 5px 10px;
}

th {
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-style: italic;
}

p {
  color: #000;
}

.header-logo {
  left: 50%;
  position: absolute;
  top: 17%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 25%;
  z-index: 9;
}

@media only screen and (min-width: 1024px) {
  .header-logo {
    top: 15%;
  }
}

.header-slogan {
  color: #fff;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  width: 40%;
  z-index: 9;
}

@media only screen and (min-width: 1024px) {
  .header-slogan {
    font-size: 30px;
  }
}

footer {
  background-image: url("../img/footer-patter.jpg");
}

footer div {
  text-align: center;
}

footer p {
  color: #fff;
  display: inline;
  font-size: 18px;
}

.footer-logo {
  display: block;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  width: 160px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    display: inline;
    padding-right: 20px;
  }
}

.footer-icon {
  display: none;
  margin-right: 10px;
  height: 30px;
}

@media only screen and (min-width: 414px) {
  .footer-icon {
    display: inline;
  }
}

.footer-phone,
.footer-email {
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .footer-phone,
  .footer-email {
    display: inline;
    padding-right: 20px;
    text-align: initial;
  }
}

.l-content {
  margin: 0 auto;
  width: 65%;
}

.l-group:before, .l-group:after {
  content: " ";
  display: table;
}

.l-group:after, .l-group:after {
  clear: both;
}

.group {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after, .group:after {
  clear: both;
}

@media only screen and (min-width: 600px) {
  .group {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 960px) {
  .group {
    padding: 0 40px;
  }
}

.group-menu {
  margin: 0 auto;
  max-width: 1200px;
}

.group-menu:before, .group-menu:after {
  content: " ";
  display: table;
}

.group-menu:after, .group-menu:after {
  clear: both;
}

.bg-hero {
  background-image: url("../img/hero-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 30%;
}

.btn--principal {
  background-color: #d36253;
}

.btn--principal:hover {
  background-color: #6a3c2c;
}

.headband-menu {
  background-color: #6a3c2c;
  padding: 5px 0;
}

@media only screen and (min-width: 1024px) {
  .headband-menu {
    display: none;
  }
}

.icon-menu {
  background-size: cover;
  height: 30px;
  margin-left: 85%;
  repeat: none;
  width: 30px;
}

@media only screen and (min-width: 768px) {
  .icon-menu {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .icon-menu {
    height: 50px;
    width: 50px;
  }
}

.icon-menu--hamburger {
  background-image: url("../img/icon-menu.png");
}

.icon-menu--exit {
  background-image: url("../img/icon-exit.png");
}

.menu {
  background-color: #6a3c2c;
  font-family: "Playfair Display", serif;
}

.menu a {
  color: #fff;
  display: block;
  border-bottom: 1px solid #fff;
  padding: 10px 10px 10px 0;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .menu {
    background-color: transparent;
    padding: 10px 30px 20px 30px;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 9;
  }
  .menu a {
    border: none;
    display: inline;
    font-size: 25px;
    margin-left: 30px;
    padding: 0;
    -webkit-transition: border .2s;
    transition: border .2s;
  }
  .menu a:hover {
    border-bottom: 3px solid #fff;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1500px) {
  .menu a {
    font-size: 190%;
  }
}

.language {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: block;
  font-size: 18px;
  padding: 12px 0 10px 0;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
  text-align: center;
}

.language a {
  border: none;
  display: inline;
  padding: 0;
  margin-left: 0;
}

.language a:hover {
  border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 1024px) {
  .language {
    border: none;
    display: inline;
    padding-right: 0;
  }
}

.index {
  margin-bottom: 120px;
}

.about h2 {
  display: inline;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: border .1s;
  transition: border .1s;
}

@media only screen and (min-width: 1024px) {
  .about h2 {
    margin-right: 30px;
  }
}

.selected-display {
  border-bottom: solid 4px #d36253;
  color: #d36253;
}

.display-about_text {
  height: 325px;
}

@media only screen and (min-width: 1024px) {
  .display-about_text {
    float: left;
    height: initial;
    padding-right: 30px;
    width: 50%;
  }
}

.display-about_photo {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .display-about_photo {
    display: inline-block;
    width: 50%;
  }
  .display-about_photo img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .display-mobile {
    display: none;
  }
}

.services {
  margin-bottom: 120px;
}

@media only screen and (min-width: 650px) {
  .service-left {
    float: left;
    width: 49%;
  }
}

@media only screen and (min-width: 650px) {
  .service-right {
    float: right;
    width: 49%;
  }
}

.service-element {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  margin-bottom: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  repeat: none;
}

.service-element:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.service-element h4 {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 130%;
  margin: 50px 0;
  padding: 5%;
  width: 75%;
}

@media only screen and (min-width: 700px) {
  .service-element h4 {
    font-size: 140%;
  }
}

@media only screen and (min-width: 1040px) {
  .service-element h4 {
    font-size: 160%;
  }
}

.service-1 {
  background-image: url("../img/service1.jpg");
}

.service-1:hover {
  background-image: url("../img/service1b.jpg");
}

.service-2 {
  background-image: url("../img/service2.jpg");
}

.service-2:hover {
  background-image: url("../img/service2b.jpg");
}

.service-3 {
  background-image: url("../img/service3.jpg");
}

.service-3:hover {
  background-image: url("../img/service3b.jpg");
}

.service-4 {
  background-image: url("../img/service4.jpg");
}

.service-4:hover {
  background-image: url("../img/service4b.jpg");
}

.service-5 {
  background-image: url("../img/service5.jpg");
}

.service-5:hover {
  background-image: url("../img/service5b.jpg");
}

.service-6 {
  background-image: url("../img/service6.jpg");
}

.service-6:hover {
  background-image: url("../img/service6b.jpg");
}

.service-7 {
  background-image: url("../img/service7.jpg");
}

.service-7:hover {
  background-image: url("../img/service7b.jpg");
}

.service-8 {
  background-image: url("../img/service8.jpg");
}

.service-8:hover {
  background-image: url("../img/service8b.jpg");
}

.service-9 {
  background-image: url("../img/service9.jpg");
}

.service-9:hover {
  background-image: url("../img/service9b.jpg");
}

.service-10 {
  background-image: url("../img/service10.jpg");
}

.service-10:hover {
  background-image: url("../img/service10b.jpg");
}

.service-11 {
  background-image: url("../img/service11.jpg");
}

.service-11:hover {
  background-image: url("../img/service11b.jpg");
}

.service-12 {
  background-image: url("../img/service12.jpg");
}

.service-12:hover {
  background-image: url("../img/service12b.jpg");
}

.service-13 {
  background-image: url("../img/service13.jpg");
}

.service-13:hover {
  background-image: url("../img/service13b.jpg");
}

.contact-bgi {
  background-image: url(../img/contact-bgi.jpg);
  background-size: cover;
  repeat: none;
}

.menu-contact {
  position: relative;
}

.contact {
  margin-bottom: 200px;
}

.contact h1 {
  color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 1030px) {
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-form {
  width: 100%;
}

.contact-form form {
  width: 100%;
}

@media only screen and (min-width: 1030px) {
  .contact-form {
    width: 48%;
  }
}

.contact-more-info {
  width: 100%;
  margin-top: 20px;
}

.contact-more-info:before, .contact-more-info:after {
  content: " ";
  display: table;
}

.contact-more-info:after, .contact-more-info:after {
  clear: both;
}

@media only screen and (min-width: 1030px) {
  .contact-more-info {
    margin-top: 0;
    width: 48%;
  }
}

.tesoros {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 40px;
}

.tesoros-info h2 {
  margin-top: 0;
}

.tesoros-info p {
  margin-bottom: 40px;
}

.tesoros-logo img {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .tesoros-logo img {
    display: inline;
    padding-left: 20px;
  }
}

.gps iframe {
  height: 50%;
  width: 100%;
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
}

.gallery-row div {
  background-color: #333;
  overflow: hidden;
}

.gallery-row img {
  width: 100%;
}

.height-img_base {
  height: 179px;
}

.height-img_large {
  height: 100%;
}

.wide-img_3-4 {
  display: none;
  margin-bottom: 10px;
  width: 74%;
}

@media only screen and (min-width: 1024px) {
  .wide-img_3-4 {
    display: initial;
  }
}

.wide-img_1-4 {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .wide-img_1-4 {
    width: 24%;
  }
}

.wide-img_2-4 {
  margin-bottom: 10px;
  width: 49%;
}

.gallery figure {
  margin: 0;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.gallery .is-showing {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.gallery img {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
