.header-logo {
	left: 50%;
	position: absolute;
	top: 15%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	width: 25%;
	z-index: 9;
}

.header-slogan{
	color: #fff;
	font-size: 30px;
	font-family: $font-family-contrast;
	left: 50%;
	position: absolute;
	top: 20%;
	transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
	width: 40%;
	z-index: 9;
}